<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp uap5">

  <Identity
    Name="02d4c3c0-9408-45fc-b942-39026c83372f"
    Publisher="CN=Jason"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="02d4c3c0-9408-45fc-b942-39026c83372f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Video Player</DisplayName>
    <PublisherDisplayName>Jason</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Video_Player.App">
      <uap:VisualElements
        DisplayName="Video Player"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Video Player"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mp4_mkv_wmv">
            <uap:SupportedFileTypes>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mkv</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
              <uap:FileType>.flv</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Video Player</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>